body {
  background-color: #e3e3e3;
}
.row-one  {
  background-color:Green;
}
.row-two  {
  background-color:Yellow;
}
.row-three  {
  background-color:Red;
}
.row-four  {
  background-color:Blue;
}

/* Your Code Here */
